/* Additional style elements for MLIITM */

#body 
{
  min-height: 400px;
}

a { color:#000; text-decoration:none; }
a:focus, a:hover { color:#444; text-decoration:underline; }
a:visited { inherit; }

.rowborder {padding-bottom:24px;margin-bottom:25px;border-bottom:1px solid #ddd;}

.error, .alert, .notice, .success, .info {margin-top:1em}
