{% extends "base.html" %}

{% block body %}
<div class="span-16 append-1 colborder">
  <h2>Home</h2>
<p id="description">
  Welcome to the Computational Learning Group at IIT Madras. 
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
</div>
<div class="span-6">
  <h2>News</h2>
  <ul>
    {% for item in news_items %}
    <li>
    {% if item.internal %}
    <a href="{%if item.link%} {{item.link}} {%else%} # {%endif%}">{{item.name}}</a> 
    {% else %}
      <a href="{{SITE_URL}}/news/{{item.id}}/">{{item.name}}</a> 
    {% endif %}
    <span class="small">{{item.timestamp}} </span>
    </li>
    {% empty %}
    <li>We have no news for you yet</li>
    {% endfor %}
    <li><a href="{{SITE_URL}}/news/">More...</a></li>
  </ul>

</div>
{% endblock %}


