{% extends "base.html" %}

{% block body %}
        <p id="description">
        <b>Webbed Feet</b> is a <i>competition judge</i> created to evaluate AI bots created for the <a href="http://www.cse.iitm.ac.in/~cs638/">"Artificial Intelligence"</a> course taken by <a href="http://aidblab.cse.iitm.ac.in/khemani/">Dr. Deepak Khemani</a>. It was also used as the judge for <a href="http://www.shaastra.org/2010/main/events/coding/automania">Automania</a> at Shaastra 2010. You can obtain the source code for the judge <a href="http://github.com/arunchaganty/webbed-feet">here</a>.
        </p>
{% endblock %}


