{% extends "base.html" %}

{% block js %}
    {{ block.super }}
    <script src="{{MEDIA_URL}}/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{MEDIA_URL}}/js/endless.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{MEDIA_URL}}/js/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block body %}

<a id="top">
<h2>News</h2>
  <div class="endless_page_template">
      {% include page_template %}
  </div>

{% endblock %}
